
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
body {background-color: powderblue;}
h2   {color:black;}
</style>
<table class="table table-striped table-success">

    <tr>
        <th> HOD name</th>
        <th> Address</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Department </th>
        <th>Designation</th>
         <th>Action</th>

    </tr>
    {% for ls in data %}
      <tr>
          <td>{{ls.mtname}}</td>
          <td>{{ls.address}}</td>
          <td>{{ls.gender}}</td>
          <td>{{ls.phoneno}}</td>
          <td>{{ls.email}}</td>
          <td>{{ls.username}}</td>
          <td>{{ls.passwd}}</td>
          <td>{{ls.dpt}}</td>
          <td>{{ls.desi}}</td>
          <td> <a href="/edi?msid={{ls.id}}">Edit</a></td>

      </tr>
    {% endfor %}
</table>

</body>
</html>