{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section">
<div class="container">
    <div class="row">
        <h1> Notes upload!  </h1>
        <form action="/assign" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="col-lg-12">
            <div>
                <label for="nam">Title</label><input type="text" placeholder="" name="name" id="nam">
               </div>
               <div>
                <label for="ag">Department</label><input type="text" placeholder="" name="age" id="ag">
               </div>
               
               <div>
                <label for="pt">file upload</label><input type="file"  name="photo" id="pt">
               </div>
              
               <div>
                <button type="submit"> upload and continue</button>
               </div>
        
        </div>
    </form>
    </div>
</div>
</section>
      
{% endblock %}